
<h1 style="text-align: center; ">5 TOP NEWS FROM RIA.RU</h1>


<div class="container">
  <%= paginate @ria_all_news %>
</div>

<div class="container">
<% @ria_all_news.each do |article|%>
    <div class="border rounded">
        <div class="alert alert-primary"><%= link_to article.title, "https://ria.ru#{article.url}"%></div>
        <div class="row ">
          <div class="col"></div>
          <div class="col-md-auto"><span><%= article.time %></span></div>
          <div class="col-lg-2"><span><%= article.date %></span></div>
        </div>
      </div>
      <br>
<%end%>

<div class="container">
  <%= paginate @ria_all_news %>
</div>

</div>

