
<h1 style="text-align: center; ">5 TOP NEWS TUT LADY</h1>


<div class="container">
  <div class="row">
    <div class="col-md-auto"><button class="btn btn-lg disabled text-" role="button" aria-disabled="true" ><%= link_to "Ria news", ria_path  %></button></div>
    <div class="col-md-auto"><button class="btn btn-lg disabled text-" role="button" aria-disabled="true" ><%= link_to "Start page", root_path  %></button></div>
    <div class="col-auto"><button class="btn btn-lg disabled text-" role="button" aria-disabled="true" ><%= link_to "Log File", log_path  %></button></div>
    <%= paginate @news_lines %>
  </div>
</div>

<div class="container">
<% @news_lines.each do |article|%>
        <div class="alert alert-success row" >
          <h4 class="col-7" style="float:left;"><%= link_to article.title, article.url %></h4>
             <div class="col"><span>Time: <%= article.time %></span></div>
              <div class="col"><span>Date: <%= article.date %></span></div>
        </div>
      <br>
<%end%>
</div>
<div class="container" >
  <%= paginate @news_lines %>
</div>

